#demo1{
margin-left:110px;
margin-top:110px;
width:100px;
height:100px;
position:absolute;
background:red;
}

#demo2{
margin-top:110px;
width:100px;
height:100px;
position:absolute;
background:blue;
}

#demo3{
margin-top:110px;
margin-left:220px;
width:100px;
height:100px;
position:absolute;
background:blue;
}

#demo4{
margin-left:110px;
margin-top:220px;
width:100px;
height:100px;
position:absolute;
background:blue;
}

#demo5{
margin-left:110px;
width:100px;
height:100px;
position:absolute;
background:blue;
}